/* Partial for scss - will be imported into other CSS files */

/* Dark Mode */
$dark-default-background: black;
$dark-default-text: white;

/* Light Mode */
$light-default-background: white;
$light-default-text: black;
